body{
  align-content: center;
  background-color: #000000;
}
.text{
  color: #AA0000;
  display: block;
}
.button{
  padding: 100px 200px;
  background: #AA0000;
  display: flex;
  align-items: center;

}
